# Import Library

In [48]:
import joblib
import json
import pandas as pd
import numpy as np

# Load Model

In [49]:
# load the Files

#model dan preprocessing
with open('model_svm.pkl', 'rb') as file_1:
  model_svm= joblib.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  model_scaler=joblib.load(file_2)

with open('list_num_cols.txt', 'r') as file_3:
  num_cols= json.load (file_3)

with open('list_cat_columns.txt', 'r') as file_4:
  cat_cols= json.load (file_4)

# Inferencing

In [50]:
data = pd.read_csv("dfi.csv")

data

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,INN20040,2,0,1,2,Meal Plan 1,0,Room_Type 1,91,2018,3,4,Offline,0,0,0,40.67,0
1,INN14198,1,0,0,2,Meal Plan 1,0,Room_Type 1,103,2018,4,19,Offline,0,0,0,115.00,0
2,INN02063,2,0,1,2,Not Selected,0,Room_Type 1,66,2018,9,2,Online,0,0,0,87.30,1
3,INN08538,3,0,0,4,Meal Plan 1,0,Room_Type 4,84,2018,7,13,Online,0,0,0,137.70,0
4,INN05845,2,0,2,1,Meal Plan 1,0,Room_Type 1,25,2018,10,8,Offline,0,0,0,85.00,0
5,INN26801,1,0,2,0,Meal Plan 1,0,Room_Type 1,238,2018,11,13,Offline,0,0,0,55.08,0
6,INN11494,1,0,0,1,Meal Plan 1,0,Room_Type 4,4,2018,5,20,Corporate,0,0,0,90.00,0
7,INN21980,2,0,0,2,Meal Plan 1,0,Room_Type 1,151,2018,1,19,Offline,0,0,0,86.50,0
8,INN26246,2,0,2,1,Meal Plan 1,0,Room_Type 1,99,2017,10,10,Online,0,0,0,89.25,3
9,INN11710,2,0,1,4,Meal Plan 1,0,Room_Type 1,87,2018,3,30,Online,0,0,0,82.45,1
10,INN01997,2,0,1,2,Meal Plan 1,0,Room_Type 1,302,2018,9,16,Online,0,0,0,100.00,0
11,INN25455,0,2,0,1,Meal Plan 1,0,Room_Type 2,193,2018,7,15,Online,0,0,0,86.50,0
12,INN32625,2,0,0,3,Meal Plan 1,0,Room_Type 4,102,2018,5,19,Online,0,0,0,140.40,0
13,INN01958,1,0,0,1,Meal Plan 1,0,Room_Type 1,4,2018,12,16,Offline,0,0,0,70.00,0
14,INN02794,1,0,0,2,Meal Plan 1,0,Room_Type 1,1,2017,8,4,Corporate,0,0,0,65.00,0
15,INN19869,2,0,0,1,Not Selected,0,Room_Type 1,0,2018,8,9,Online,0,0,0,158.00,0
16,INN11013,2,0,2,1,Meal Plan 2,0,Room_Type 1,57,2018,10,29,Online,0,0,0,141.30,1
17,INN26408,2,0,1,3,Meal Plan 1,0,Room_Type 1,189,2018,10,6,Online,0,0,0,108.90,0
18,INN23943,1,0,1,4,Meal Plan 1,0,Room_Type 1,190,2018,6,22,Offline,0,0,0,95.00,0
19,INN16467,2,0,0,1,Not Selected,0,Room_Type 1,1,2018,12,14,Online,0,0,0,78.00,2

In [51]:
data.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,20.00000,20.000000,20.000000,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,20.0,20.0,20.0,20.000000,20.000000
mean,1.65000,0.100000,0.700000,1.900000,0.0,99.350000,2017.900000,7.500000,14.400000,0.0,0.0,0.0,95.602500,0.400000
std,0.67082,0.447214,0.801315,1.165287,0.0,87.146142,0.307794,3.187145,7.775806,0.0,0.0,0.0,30.337401,0.820783
min,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,2017.000000,1.000000,2.000000,0.0,0.0,0.0,40.670000,0.000000
25%,1.00000,0.000000,0.000000,1.000000,0.0,19.750000,2018.000000,5.000000,8.750000,0.0,0.0,0.0,81.337500,0.000000
50%,2.00000,0.000000,0.500000,2.000000,0.0,89.000000,2018.000000,8.000000,14.500000,0.0,0.0,0.0,88.275000,0.000000
75%,2.00000,0.000000,1.000000,2.250000,0.0,160.500000,2018.000000,10.000000,19.000000,0.0,0.0,0.0,110.425000,0.250000
max,3.00000,2.000000,2.000000,4.000000,0.0,302.000000,2018.000000,12.000000,30.000000,0.0,0.0,0.0,158.000000,3.000000

In [52]:
num_cols

['lead_time', 'avg_price_per_room', 'no_of_week_nights']

In [53]:
data_inf_num = data[num_cols]

In [54]:
data_inf_final= data.copy()

In [55]:
#scaling data numerik, encoding data category
data_inf_final[num_cols]= model_scaler.transform(data_inf_num)

In [56]:
data_inf_final

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,INN20040,2,0,1,0.222222,Meal Plan 1,0,Room_Type 1,0.205418,2018,3,4,Offline,0,0,0,0.108309,0
1,INN14198,1,0,0,0.222222,Meal Plan 1,0,Room_Type 1,0.232506,2018,4,19,Offline,0,0,0,0.306258,0
2,INN02063,2,0,1,0.222222,Not Selected,0,Room_Type 1,0.148984,2018,9,2,Online,0,0,0,0.232490,1
3,INN08538,3,0,0,0.444444,Meal Plan 1,0,Room_Type 4,0.189616,2018,7,13,Online,0,0,0,0.366711,0
4,INN05845,2,0,2,0.111111,Meal Plan 1,0,Room_Type 1,0.056433,2018,10,8,Offline,0,0,0,0.226365,0
5,INN26801,1,0,2,0.000000,Meal Plan 1,0,Room_Type 1,0.537246,2018,11,13,Offline,0,0,0,0.146684,0
6,INN11494,1,0,0,0.111111,Meal Plan 1,0,Room_Type 4,0.009029,2018,5,20,Corporate,0,0,0,0.239680,0
7,INN21980,2,0,0,0.222222,Meal Plan 1,0,Room_Type 1,0.340858,2018,1,19,Offline,0,0,0,0.230360,0
8,INN26246,2,0,2,0.111111,Meal Plan 1,0,Room_Type 1,0.223476,2017,10,10,Online,0,0,0,0.237683,3
9,INN11710,2,0,1,0.444444,Meal Plan 1,0,Room_Type 1,0.196388,2018,3,30,Online,0,0,0,0.219574,1
10,INN01997,2,0,1,0.222222,Meal Plan 1,0,Room_Type 1,0.681716,2018,9,16,Online,0,0,0,0.266312,0
11,INN25455,0,2,0,0.111111,Meal Plan 1,0,Room_Type 2,0.435666,2018,7,15,Online,0,0,0,0.230360,0
12,INN32625,2,0,0,0.333333,Meal Plan 1,0,Room_Type 4,0.230248,2018,5,19,Online,0,0,0,0.373901,0
13,INN01958,1,0,0,0.111111,Meal Plan 1,0,Room_Type 1,0.009029,2018,12,16,Offline,0,0,0,0.186418,0
14,INN02794,1,0,0,0.222222,Meal Plan 1,0,Room_Type 1,0.002257,2017,8,4,Corporate,0,0,0,0.173103,0
15,INN19869,2,0,0,0.111111,Not Selected,0,Room_Type 1,0.000000,2018,8,9,Online,0,0,0,0.420772,0
16,INN11013,2,0,2,0.111111,Meal Plan 2,0,Room_Type 1,0.128668,2018,10,29,Online,0,0,0,0.376298,1
17,INN26408,2,0,1,0.333333,Meal Plan 1,0,Room_Type 1,0.426637,2018,10,6,Online,0,0,0,0.290013,0
18,INN23943,1,0,1,0.444444,Meal Plan 1,0,Room_Type 1,0.428894,2018,6,22,Offline,0,0,0,0.252996,0
19,INN16467,2,0,0,0.111111,Not Selected,0,Room_Type 1,0.002257,2018,12,14,Online,0,0,0,0.207723,2

In [57]:
selected_columns = ['lead_time', 'no_of_special_requests', 'avg_price_per_room', 'repeated_guest', 'no_of_week_nights']
data_inf_final = data_inf_final[selected_columns]

In [58]:
# Memperoleh prediksi dari model
predictions = model_svm.predict(data_inf_final)

# Membuat kolom "klasifikasi" berdasarkan prediksi
data_pred= data.assign(klasifikasi=["Canceled" if pred == 0 else "Not_Canceled" for pred in predictions])

# Menampilkan DataFrame data_inf_final dengan kolom "klasifikasi" baru
data_pred

c:\Users\SatriyaFzn\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,klasifikasi
0,INN20040,2,0,1,2,Meal Plan 1,0,Room_Type 1,91,2018,3,4,Offline,0,0,0,40.67,0,Not_Canceled
1,INN14198,1,0,0,2,Meal Plan 1,0,Room_Type 1,103,2018,4,19,Offline,0,0,0,115.00,0,Not_Canceled
2,INN02063,2,0,1,2,Not Selected,0,Room_Type 1,66,2018,9,2,Online,0,0,0,87.30,1,Canceled
3,INN08538,3,0,0,4,Meal Plan 1,0,Room_Type 4,84,2018,7,13,Online,0,0,0,137.70,0,Not_Canceled
4,INN05845,2,0,2,1,Meal Plan 1,0,Room_Type 1,25,2018,10,8,Offline,0,0,0,85.00,0,Not_Canceled
5,INN26801,1,0,2,0,Meal Plan 1,0,Room_Type 1,238,2018,11,13,Offline,0,0,0,55.08,0,Not_Canceled
6,INN11494,1,0,0,1,Meal Plan 1,0,Room_Type 4,4,2018,5,20,Corporate,0,0,0,90.00,0,Not_Canceled
7,INN21980,2,0,0,2,Meal Plan 1,0,Room_Type 1,151,2018,1,19,Offline,0,0,0,86.50,0,Not_Canceled
8,INN26246,2,0,2,1,Meal Plan 1,0,Room_Type 1,99,2017,10,10,Online,0,0,0,89.25,3,Not_Canceled
9,INN11710,2,0,1,4,Meal Plan 1,0,Room_Type 1,87,2018,3,30,Online,0,0,0,82.45,1,Canceled
10,INN01997,2,0,1,2,Meal Plan 1,0,Room_Type 1,302,2018,9,16,Online,0,0,0,100.00,0,Not_Canceled
11,INN25455,0,2,0,1,Meal Plan 1,0,Room_Type 2,193,2018,7,15,Online,0,0,0,86.50,0,Not_Canceled
12,INN32625,2,0,0,3,Meal Plan 1,0,Room_Type 4,102,2018,5,19,Online,0,0,0,140.40,0,Not_Canceled
13,INN01958,1,0,0,1,Meal Plan 1,0,Room_Type 1,4,2018,12,16,Offline,0,0,0,70.00,0,Not_Canceled
14,INN02794,1,0,0,2,Meal Plan 1,0,Room_Type 1,1,2017,8,4,Corporate,0,0,0,65.00,0,Not_Canceled
15,INN19869,2,0,0,1,Not Selected,0,Room_Type 1,0,2018,8,9,Online,0,0,0,158.00,0,Not_Canceled
16,INN11013,2,0,2,1,Meal Plan 2,0,Room_Type 1,57,2018,10,29,Online,0,0,0,141.30,1,Canceled
17,INN26408,2,0,1,3,Meal Plan 1,0,Room_Type 1,189,2018,10,6,Online,0,0,0,108.90,0,Not_Canceled
18,INN23943,1,0,1,4,Meal Plan 1,0,Room_Type 1,190,2018,6,22,Offline,0,0,0,95.00,0,Not_Canceled
19,INN16467,2,0,0,1,Not Selected,0,Room_Type 1,1,2018,12,14,Online,0,0,0,78.00,2,Canceled